@import '../../styles/utils.scss';

.nav{
    width: 100%;
    height: 100px;
    @include display-flex;
    position: fixed;
    top: 0;
    justify-content: start;
    gap: 25px;
    z-index: 1;
}

.navItem a{
    color: $white;
    font-size: 20px;
    letter-spacing: 3%;
    transition: color .3s ease-in;

    &:hover{
        color: $primary-red;
    }
}

.main{
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/images/header-background-img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mainText{
    @include center;
    text-align: center;
}

.title{
    color: $primary-red;
    font-size: 100px;
    font-weight: 900;
    letter-spacing: -6px;
    margin-bottom: 10px;
}

.text{
    width: 700px;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.btn{
    width: 144px;
    height: 61px;
    position: relative;
    background-color: rgba($color: #000, $alpha: 0.0);
    cursor: pointer;

    &:hover{
        .btnFilled{
            width: 100%;
            background-color: $primary-red-dark;
        }
    }

    &:active{
        .btnFilled{
            background-color: $primary-red;
        }
    }
}

.btnFilled{
    width: 100px;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    background-color: $primary-red;
    transition: width 0.3s ease-in-out;
}

.btnText{
    width: 100%;
    font-size: 18px;
    position: absolute;
    top: 15px;
    left: 0;
    font-weight: 700;
    text-transform: uppercase;
}

.cards{
    display: flex;
}

.card{
    width: calc(100% / 3);  
    height: 214px;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    border-right: 1px solid $border;
    @include card-display-flex;
}

.card:last-child{
    border-right: none;
}

.cardTitle{
    font-size: 18px;
    margin-bottom: 20px;
}

.cardText{
    width: 200px;
    font-size: 24px;
    letter-spacing: 5%;
    color: $primary-red;
}

.cardText:first-child{
    width: 250px;
}

