.sliderContainer{
    top: 180px;
}

.sliderBtn{
    background-color: inherit;
    border: none;
    user-select: none;
    cursor: pointer;
    position: absolute;
}

.sliderBtnPrev{
    rotate: 180deg;
    top: 45%;
    left: -7%;
}


.sliderBtnNext{
    top: 45%;
    right: -6%;
}